
{% extends "base_form.html.twig" %}
{% block title %}
  Mot de passe oublié | Scoops Feraga
{% endblock %}
{% block body %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-lg-5 col-xl-5">
          <form action="" method="post" class="custom-form">
           <div class="row back_button">
            <a href="{{app.request.headers.get('referer')}}"><i class="fas fa-arrow-left" style="font-size: 25px;"></i> </a>
          </div>
            <div class="row justify-content-center">
              <a href="{{path('app_home')}}" class="home-logo-link" style="text-align: center;">
                <img
            class="form-logo"
            src="{{ asset('frontoffice/') }}images/logo-5.png"
            alt="logo mabace deux"
          />
              </a>
            </div>
            
            <div class="row">
              <h4>entrer votre addresse email</h4>
            <div class="mb-3">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Entrer votre email"
                autofocus
              />
            </div>
            <input
              type="hidden"
              name="_csrf_token"
              value="{{ csrf_token('authenticate') }}"
              />
              
            <div class="mb-3">
              <button
                type="submit"
                class="btn btn-success btn-form"
              >
                envoyer ma demande
              </button>
            </div>
            <div class=" row ">
              <div class="col-12 col-lg-12">
                <span class="create-by-link d-flex justify-content-center" 
                >Created by
                <a class="__dev" href="https://logonedigital.com/" target="_blank"
                  >Logonedigital</a>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}