
{% for service in services %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="border-all border-radius padding-40 hover-shadow">
            <h5 class="fw-normal margin-top-10">{{ service.designation }}</h5>
            <p>
                {{ service.description | striptags | slice(0, 200) }}
            </p>

            <a type="button" class="button-text-2 margin-top-20"
               href="{{ path('app_services_apply', {'slug': service.slug}) }}">
                Intéressé(e)
            </a>

        </div>
    </div>
{% endfor %}