{% extends "base.html.twig" %} {% block body %}

<!-- GDPR - Cookie Consent -->
<div
  id="cookie-consent"
  class="consent-hidden bg-black-09 padding-30 padding-lg-50 text-center"
>
  <p class="font-large">This website uses cookies & third party services</p>
  <a
    id="accept-consent"
    class="button button-md button-white-3 button-rounded margin-top-20"
    href="#"
    >Accept & Close</a
  >
</div>
<!-- end GDPR - Cookie Consent -->

<!-- Custom Cursor -->
<div id="cursor"></div>
<!-- end Custom Cursor -->

<!-- Header -->
{{ include("./includes/navbar.html.twig") }}
<!-- end Header -->
<style>
  .bold-text {
    font-weight: bold;
    color: #f18f34;
  }
</style>

<div class="section-sm bg-grey-lighter">
  <div class="container text-center">
    <h1 class="fw-light margin-0">
      MA.BA.CE.&#x2161; MENTIONS LÉGALES, CONDITIONS GÉNÉRALES D’UTILISATION &
      CONFIDENTIALITÉ
    </h1>
  </div>
  <!-- end container -->
</div>

<div class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-lg-12">
        <h5 style="text-align: center; text-transform: uppercase">
          Mentions légales
        </h5>
        <p style="text-align: justify">
          MA.BA.CE.II est une association culturelle au rythme classique qui a
          vu le jour il y a 50 déjà vers les années 70. Elle est basée au
          Cameroun dans la ville de Yaoundé. Elle regroupe la communauté de
          bagangté, peuple du Cameroun en pays bamiléké, humble et bienveillant
          qui se sont réunis pour favoriser les activités des membres, afin de
          pallier à certaines difficultés rencontrées (chômage). Elle permet de
          regrouper des individus qui souhaitent construire un projet commun, en
          partageant leurs connaissances ou leur savoir-faire, dans un but autre
          que la redistribution des bénéfices mais plutôt renforcer les liens
          entre la communauté et valoriser la culture.
        </p>
        <p style="text-align: justify">
          Elle aime le changement, alors pour apporter une valeur ajoutée à
          l’association, vous constaterez une mutation au niveau de la
          direction. Durant ces dernières années, MA.BA.CE.II a connu près de 08
          présidents qui ont su donner une nouvelle vision à l’association. Au
          départ l’association était juste mise en place pour aider les membres
          en cas de difficultés et conserver leurs cultures ; mais aujourd’hui,
          elle fait plus que ça ; elle développe les activités des membres pour
          mettre au service de la population.
        </p>
        <p style="text-align: justify">
          MA.BA.CE.II est un réel socle des valeurs culturelles et un grand
          atout pour le développement du pays. Avec les compétences de tout un
          chacun, nous présentons une panoplie de produits et service local
          directement mis sur pied par les citoyens. Alors contactez-nous pour
          n’importe quel service donc vous avez besoin et nous les mettrons à
          disposition.
        </p>
        <h6>infos MA.BA.CE.&#x2161;</h6>
        <ul class="list-icon list-icon-circle-check">
          <li>
            Raison sociale :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >MA.BA.CE.&#x2161;</span
            >
          </li>
          <li>
            Adresse :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >MA.BA.CE.&#x2161; S/C BP/25003 YAOUNDé</span
            >
          </li>
          <li>
            Président :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >Mr Ketcha Guy</span
            >
          </li>
          <li>
            RCS :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >n°00771/RDA/J06</span
            >
          </li>
          <li>
            Secteur d'activité :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >association culturelle</span
            >
          </li>
          <li>
            Téléphone :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >(+237) 693 058 485 / 674 573 563</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >contact@mabacedeux.com</span
            >
          </li>
        </ul>
        <h6>Coordonnées de l'hébergeur</h6>
        <ul class="list-icon list-icon-caret">
          <li>
            Raison sociale :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >IONOS SARL</span
            >
          </li>
          <li>
            Adresse :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >7, place de la Gare, BP 70109, 57200 Sarreguemines Cedex</span
            >
          </li>
          <li>
            RCS :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >431 303 775</span
            >
          </li>
          <li>
            Téléphone :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              >+33 0970 808 911</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >info@IONOS.fr</span
            >
          </li>
        </ul>
        <h6>Coordonnées du développeur</h6>
        <ul class="list-icon list-icon-circle-arrow">
          <li>
            Raison sociale :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              >LOGONE SARL</span
            >
          </li>
          <li>
            Adresse :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >Rue Mohamed Badra, Montplaisir Tunis 1073</span
            >
          </li>
          <li>
            RCS :
            <span class="text-uppercase fw-bold" style="color: #f18f34"
              >b011285072021</span
            >
          </li>
          <li>
            Téléphone :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              >+237 6 52 10 98 85 / +216 52 73 93 85</span
            >
          </li>
          <li>
            Email :<span class="text-uppercase fw-bold" style="color: #f18f34"
              >emmanuelbenjamin@logonedigital.com</span
            >
          </li>
          <li>
            Site web :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              ><a
                style="text-decoration: underline; color: #f18f34"
                href="https://logonedigital.com"
                target="_blank"
                >www.logonedigital.com</a
              ></span
            >
          </li>
          <li>
            Facebook :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              ><a
                style="text-decoration: underline; color: #f18f34"
                href="https://www.facebook.com/Logonedigital/"
                target="_blank"
                >logonedigital</a
              ></span
            >
          </li>
          <li>
            linkedIn :<span
              class="text-uppercase fw-bold"
              style="color: #f18f34"
              ><a
                style="text-decoration: underline; color: #f18f34"
                href="https://www.linkedin.com/company/logonedigital/"
                target="_blank"
                >logonedigital</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">CONDITIONS GÉNÉRALES D’UTILISATION</h5>
        <p style="text-align: justify">
          Toutes les présentes conditions s’appliquent pour l’ensemble du site
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >, incluant les sous-domaines et autres noms de domaine appartenant à
          MA.BA.CE.&#x2161;.
        </p>
        <h6>condition de reprise du contenu</h6>
        <p style="text-align: justify">
          Tout contenu, images, logos, noms de domaines, articles, associés au
          nom de marque
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
          appartient à la société
          <span class="bold-text">MABACE.&#x2161;</span> et est protégé par
          les lois en vigueur relatives à la propriété intellectuelle. La
          reprise de ces contenus doit faire l’objet d’une autorisation de la
          société <span class="bold-text">MABACE.&#x2161;</span>. Aucune
          élément graphique, image, texte, composant le site internet
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
          ne peut être repris et utilisé sur un autre support que
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
          de manière partielle ou intégrale, sans autorisation écrite de la
          société
          <span class="bold-text">MABACE.&#x2161;</span>.
        </p>
        <h6>Liens hypertextes et référencement naturel</h6>
        <p style="text-align: justify">
          Notre équipe d’experts SEO veillent chaque jour à ce que les liens
          hypertextes postés sur notre site internet et dans nos articles de
          blog fonctionnent et dirigent correctement vers leur page de
          destination. Cependant, si vous remarquez des liens cassés, n’hésitez
          pas à nous le faire remarquer en nous envoyant un e-mail à cette
          adresse : contact@scooposferaga.fr Toute stratégie de netlinking
          abusive visant à diriger des liens hypertextes de mauvaise qualité
          vers les sites de
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
          est passive de poursuite judiciaire de notre part. Les directeurs de
          publication de <span class="bold-text">MABACE.&#x2161;</span> ne
          peuvent être tenus pour responsable d’un préjudice né de
          l’interprétation d’une information pouvant figurer sur le site
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div class="section padding-top-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <h5 style="text-align: center">
          POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
        </h5>
        <h6>Commentaires</h6>
        <p style="text-align: justify">
          Lorsque vous déposez un commentaire sur notre site web à la suite d’un
          article de blog, votre adresse IP, navigateur internet et données
          inscrites dans votre commentaire sont automatiquement collectées afin
          de nous permettre de filtrer les commentaires indésirables.
        </p>
        <h6>Formulaires</h6>
        <p style="text-align: justify">
          Lorsque vous entrez en contact avec
          <span class="bold-text">MABACE.&#x2161;</span> via les formulaires
          de contact et de demande de devis présents sur les pages de notre site
          internet, nous collectons les informations inscrites dans les champs
          de ce formulaire de contact, à savoir : votre nom, prénom, site
          internet, numéro de téléphone, et le message renseigné. Ces données
          sont conservées dans des fichiers informatisés afin d’entrer en
          contact plus facilement avec nos clients et prospects. Nous ne
          partageons par ces données avec des supports extérieurs à
          <span class="bold-text">MABACE.&#x2161;</span>.
        </p>
        <h6>Cookies</h6>
        <p style="text-align: justify">
          Nous utilisons Google Analytics afin de mesurer et analyser l’audience
          et le trafic de notre site internet. Cet outil Analytics installe un
          cookie sur le navigateur internet de nos visiteurs afin de collecter
          les données géographiques et de navigation sur le site
          <a
            style="text-decoration: underline; color: #f18f34"
            href="https://mabacedeux.com"
            target="_blank"
            >www.mabacedeux.com</a
          >
          Nous vous conseillons de consulter les Conditions d’Utilisation de
          Google Analytics.
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

{{ include("./includes/footer.html.twig") }}

<!-- ***** JAVASCRIPTS ***** -->
{% endblock %}
