<footer>
  <div class="section-sm bg-dark">
    <div class="container">
      <div class="row g-3">
        <div class="col-6 col-sm-6 col-lg-3">
          <h3>mono</h3>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <h6 class="font-small fw-normal uppercase">Useful Links</h6>
          <ul class="list-dash">
            <li><a href="#">About us</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Prices</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <h6 class="font-small fw-normal uppercase">Additional Links</h6>
          <ul class="list-dash">
            <li><a href="#">Services</a></li>
            <li><a href="#">Process</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-lg-3">
          <h6 class="font-small fw-normal uppercase">Contact Info</h6>
          <ul class="list-unstyled">
            <li>121 King St, Melbourne VIC 3000</li>
            <li>contact@example.com</li>
            <li>+(123) 456 789 01</li>
          </ul>
        </div>
      </div>
      <!-- end row(1) -->

      <hr class="margin-top-30 margin-bottom-30" />

      <div class="row g-2">
        <div class="col-12 col-md-6 text-center text-md-start">
          <p>&copy; 2022 FlaTheme, All Rights Reserved.</p>
        </div>
        <div class="col-12 col-md-6 text-center text-md-end">
          <ul class="list-inline">
            <li>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end row(2) -->
    </div>
    <!-- end container -->
  </div>
</footer>
