<footer>
  <div class="section-sm bg-dark">
    <div class="container">
      <div class="row g-2">
        <div class="col-12 col-md-6 text-center text-md-start">
          <p>&copy; 2022 FlaTheme, All Rights Reserved.</p>
        </div>
        <div class="col-12 col-md-6 text-center text-md-end">
          <ul class="list-inline-dash">
            <li><a href="#">Careers</a></li>
            <li><a href="#">CGU</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</footer>
