<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{{ asset('frontoffice/img/favicon_scoops_feraga.png') }} "
    />
    <link rel="stylesheet" href="{{ asset('frontoffice/css/') }}form.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <script>
      WebFontConfig = {
        google: {
          families: [
            "Open+Sans:300,400,500,600,700,800",
            "Raleway:100,400,400i,500,500i,700,700i,900",
          ],
        },
      };
    </script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% block body %} {# {{ flasher_render() }}
    {{
      flasher_render({
        limit: 4,
        priority: { min: 1, max: 6 },
        order_by: {
          "Flasher\\prime\\Stamp\\PriorityStamp": "DESC"
        }
      })
    }}
    #} {% endblock %}
  </body>
</html>
